.container {
	display: flex;
	justify-content: center;
    align-items: center;
    font-family: sans-serif;
    height: 80vh;
}

.container404 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E5D5B7;
	color: gray;
	padding: 0 40px;
	margin-top: 30px;
	max-height: 200px;
}

.container404 > p {
	font-size: 180px;
	font-family: sans-serif;
	margin: 0;
}

.container404 .img {
	margin: 0 0.2cm;
}

.textContainer {
	margin-top: 20px;
    font-size: 1.3rem;
    text-align: center;
}

.textContainer  span{
    color: rgb(127, 104, 0);
    border-right: 3px solid rgb(189, 186, 186);
    font-weight: bold;
    padding: 5px 15px;
    margin-right: 10px;
}
