::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* Muestra la barra de desplazamiento solo cuando se desplaza */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .1);
}

:root {
  --primaryYellow: #ebce32;
  --light-primary: #e6c92d;
  --primaryBlack: #181816;
  --secondaryBlack: #343530;
  --ligth-secondary: #454642;
  --white: #f2f2f2;
  --divider: #b6b6b6;
  --error: #d32f2f;
  --borde: 2px;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.bg_primary {
  background-color: var(--primaryYellow);
}

.bg_secondary {
  background-color: var(--secondaryBlack);
}
.text_primary{
  color: var(--primaryYellow);
}